/*inicio del header*/
#header {
    background: #33bde7;
    background-image: url("img/nav.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    line-height: 200px;
    overflow: hidden;
}

#header img {
    width: 250px;

}

.ligas {
    float: right;
}

.horizontal-s-r[_ngcontent-gid-c1] {
    overflow-x: auto;
    overflow: auto;
    white-space: nowrap;
    padding: 5px 10px;
}

.menu {
    display: inline;
}

.menu a {
    font-family: Arial;
    font-size: 15px;
    text-decoration: none;
    float: left;
    padding: 15px;
    background-color: #000000;
    color: rgb(255, 254, 254);
}

.menu a:hover {
    background-color: #4aade7;
    margin-top: -2;
    padding-bottom: 12px;
}

* {
    margin: 0;
    padding: 0;
    font: 10pt Arial;
}

.field {
    display: flex;
    position: relative;
    margin: 3em auto;
    width: 50%;
    flex-direction: row;
    box-shadow:
        5px 5px 0 black,
        6px 6px 0 black,
        7px 7px 0 black;
}

.field>input[type=text],
.field>button {
    display: block;
    font: 1.2em 'Montserrat Alternates';
}

.field>input[type=text] {
    flex: 1;
    padding: 0.6em;
    border: 0.2em solid black;
}

.field>button {
    padding: 0.6em 0.8em;
    background-color: black;
    color: rgb(255, 255, 255);
    border: none;
}

/*fin del header*/

/* inicio del carrusel*/
#bienvenido {
    color: rgb(134, 71, 143);
}

#main #carousel img {
    width: 70px;
    object-fit: scale-down;

}

#carousel {
    position: relative;
}


/* fin del carrusel*/

/* inicio body en general */
body {
    background-image: url("img/fondo.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(74, 127, 241);
}



#boton {
    color: rgb(4, 20, 24);
    background: rgb(243, 113, 96);
    border-color: #020101;
    border-width: 1px;
    border-style: solid;
}

#titulo {
    color: rgb(255, 254, 254);
    font-size: 25px;
    font-family: cursive;
}

#titulo2 {
    color: rgba(154, 94, 209, 0.897);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-style: oblique;
}

#titucont {
    color: rgba(143, 8, 8, 0.897);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}

#subtitulos {
    color: rgba(19, 33, 161, 0.897);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-style: oblique;
}

#contenido {
    max-width: 50vh;
    filter: 50vh;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

/* fin body en general */

/* inicio pag jugadores */

#ligas li {
    line-height: 180%;
}

#ligas li a {
    color: #222;
    text-decoration: none;
}

#ligas li a:before {
    content: "\025b8";
    color: #ddd;
    margin-right: 4px;
}

#ligas input[name="list"] {
    position: absolute;
    left: -1000em;
}

#ligas label:before {
    content: "\025b8";
    margin-right: 4px;
}

#ligas input:checked~label:before {
    content: "\025be";
}

#ligas .interior {
    display: none;
}

#ligas input:checked~ul {
    display: block;
}

#cuadro {
    background-color: rgb(238, 238, 238);
    color: rgb(0, 0, 0);
}

table,
tr,
th,
td {
    margin: 15px;
    padding: 15px;
    border: rgb(120, 27, 143) 3px solid;
    background-color: white;
}

/* fin pag jugadores */

/* inicio pag calendario */
table,
thead,
tr {
    width: 95%;
}

th {
    margin: 15px;
    padding: 15px;
    border: rgb(120, 27, 143) 3px solid;
    background-color: rgb(225, 176, 230);
}

#etapa {
    background-color: rgb(190, 79, 255);
}

#fechas {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#titulocal {
    color: rgb(255, 254, 254);
    font-size: 40px;
    font-family: cursive;
}

#contenidocal {
    max-width: 50vh;
    filter: 50vh;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

/* fin pag calendario */

/* inicio pag votacion */

input {
    width: 250px;
    padding: 5px;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
}

select{
    width: 120px;
    padding: 5px;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
}
/* fin pag votacion */



/* inicio de footer en general */
#footer {
    background: rgb(51, 123, 231);
}


div a {
    color: rgb(2, 3, 3);
    font-style: italic;
}

/* fin de footer en general */